
body {
  font-family: 'Lato', sans-serif;
}


h1 {
  font-family: 'Pacifico', cursive;
}

.input-form {
	position: absolute;
	top: 40px;
	right: 150px;
}

button,
div,
form,
input {
    margin: 10px;
}

/*#animal-images {
	margin: 50px;
}*/

.control-image {
	width:250px; 
	height:250px;

}

.control-image,
.rating {
	margin-left: 40%;
}
